.right-details-panel {
    overflow-y: scroll;
    height: 100vh;
}

.main-services .btn-primary {
    color: #a2a2a2;
    background-color: #ffffff;
    border-color: #a2a2a2;
    border: 2px solid #a2a2a2;
    padding: 1rem 3.2rem;
    margin-right: 6px;
    margin-bottom: 10px;
    font-size: x-large;
}

.main-services .btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    color: #0a58ca;
    background-color: #ffffff;
    border-color: #0a53be;
}

.main-services .btn-primary:focus {
    box-shadow: none;
}

.design-n-creative .form-check-input {
    width: 1.3em;
    height: 1.3em;
    margin-top: inherit;
    margin-right: .5rem;
}

.edit-profile-picture {
    min-width: 8rem;
    max-width: 8rem;
    height: 8rem;
    margin-right: 2rem;
}

.edit-profile-form .form-control,
.experience .form-control,
.education .form-control {
    padding: .75rem .75rem;
}

.hourly-rate .input-group-text {
    padding: .75rem 1.5rem;
    color: #a2a7ac;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    border-radius: .5rem;
    z-index: 15;
}

.hourly-rate .form-control {
    border: 2px solid #ced4da;
    border-left: 0;
    border-right: 0;
}

.btn-light-blue {
    color: #0052cc;
    background-color: #d5e4f3;
    border-color: #f8f9fa;
}

.portfolio-container {
    position: relative;
}

.portfolio-sample {
    border-radius: 10px;
}

.portfolio-label {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    opacity: .9;
    background-color: white;
}

.portfolio-label h6 {
    margin: 20px 0 0 20px;
}

.add-to-portfolio {
    min-height: 250px;
    border-radius: 15px;
    border: 2px dashed #0052cc8e;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-to-portfolio .fa {
    font-size: xx-large;
    color: #0052cc8e;
}

.upload-work-modal .modal-header {
    padding: 2rem 2rem;
}

.upload-work-modal .modal-body {
    padding: 0 3rem 1rem 3rem;
}

.upload-drop-area {
    height: 800px;
    border: 2px dashed rgb(221, 221, 221);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.upload-image-preview {
    height: 250px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.upload-desc-area {
    position: relative;
}

.upload-desc-area ul {
    padding-left: 1.2rem;
}

.upload-desc-area .form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0;
    margin-right: .5rem;
}

.text-blue {
    color: #0052cc;
}

.price-table thead tr th {
    padding-left: 25px;
    border-right: 2px solid #172b4d1c;
}

.price-table thead {
    border: 2px solid #172b4d1c;
}

.price-table tbody th {
    padding-left: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #172B4D;
    border-bottom-width: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-table tbody tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-right: 2px solid #172b4d1c;
    border-left: 2px solid #172b4d1c;
    border-bottom: 0px solid #172b4d1c;
    border-top: 0px solid #172b4d1c;
    border-bottom-width: 0px !important;
}

.price-table tbody td {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom: 0px solid #172b4d1c !important;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    border-left: 2px solid #172b4d1c;
    text-align: center;
    vertical-align: middle;
}

.price-table tbody>tr:last-child {
    border-bottom: 2px solid #172b4d1c !important;
}

.switch-plan h6 {
    display: inline-flex;
}

.switch-plan .form-check {
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: inherit;
    margin-bottom: inherit;
}

.switch-plan .form-switch .form-check-input {
    margin-left: 1em;
    margin-right: 1em;
    border: 2px solid #172B4D;
}

.process {
    padding: 1rem;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.community-social a,
.community-message a {
    margin-right: 1.5rem;
}

.community-social a {
    margin-right: 1.5rem;
}

.bg-dark-blue {
    background-color: #172B4D;
}

.navbar i {
    margin-right: .5rem;
}

.navbar .nav-item {
    margin-right: 1.5rem;
}

.feed-body .card-header {
    background-color: #80aae92d;
    border: 0;
    padding: 2rem;
}

.all-se-message {
    margin-left: 4rem;
}

.community-message {
    margin-left: 3.5rem;
}

.feed-body .card-body {
    padding: 2rem;
}

.shadow-cust {
    box-shadow: 0 .05rem 1rem rgba(0, 0, 0, .15)!important;
}

.btn-light-blue {
    color: #ffffffbd;
    background-color: #f8f9fa47;
    border: 0;
}

.btn-light-blue:hover {
    color: #000000;
    background-color: #ffffff;
}

.news-feed-button {
    margin-bottom: 1.5rem;
}

.small-avatar-image {
    max-width: 45px;
    min-width: 45px;
    height: 45px;
}

.rated-design {
    background-image: url(../img/design-1.jpg);
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 100px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    border-radius: 10px;
    position: relative;
}

.btn-light-trans {
    color: #5c5e83;
    background-color: #f8f9fa47;
    border: 2px solid #e3e5e9;
}

.design-serial-no {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #172b4dd2;
    border-radius: 3px;
    padding: .3rem .5rem;
    display: inline;
    color: white;
    margin-bottom: 0;
}

.rating-star i {
    color: #F8B128;
}

.color-yellow {
    color: #F8B128;
}

.win-card {
    background-image: url(../img/prize.png);
    background-color: #ffffff;
    /* Used if the image is unavailable */
    /* height: 300px; You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: auto;
    /* Resize the background image to cover the entire container */
    border-radius: 10px;
    position: relative;
}

.wining-design {
    background-image: url(../img/portfolio1.jpg);
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 200px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    border-radius: 10px;
    position: relative;
}

.wining-design i {
    position: absolute;
    padding: 15px;
    color: white;
    background-color: #F8B128;
    border-radius: 50%;
    right: 10px;
    top: 10px;
}

.required-skill .badge {
    padding: 10px 13px;
    background-color: #172b4d1f !important;
    margin-right: .5rem;
    color: #2a3952c7;
}

.search-contest input::placeholder {
    color: rgba(0, 0, 0, 0.575);
    opacity: 1;
}

.more-option-collapse .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffffde;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    color: #172b4d;
    box-shadow: 0 .05rem 1rem rgba(0, 0, 0, .15)!important;
}

.bg-guaranteed {
    background-color: #36B37E;
}

.bg-featured {
    background-color: #FDA226;
}

.bg-urgent {
    background-color: #FF5353;
}

.bg-sealed {
    background-color: #3BA7E4;
}

.bg-pro {
    background-color: #172B4D;
}

.btn-light-cust {
    color: #000;
    background-color: #ececec !important;
    border-color: #ececec !important;
    border-radius: 50%;
}

.mt-cust {
    margin-top: 5rem;
}

.vertical-line-gray {
    border: .5px solid rgb(204, 204, 204);
    height: 100%;
    position: absolute;
    top: 0;
    right: 280px;
    opacity: .3;
}

.create-project-cover {
    height: 300px;
}

.user-cover-photo {
    background-image: url(../img/user-cover.jpg);
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 300px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.profile-top-sec {
    background-color: #ffffff;
    border-radius: 5px;
}

.big-user-image {
    background-image: url(../img/big-user.jpg);
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 300px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    border-radius: 5px;
}

.online-sign {
    padding: 5px;
    max-height: 2px;
    border-radius: 50%;
    background-color: #0eaf0e;
    display: inline-block;
    margin-left: 5px;
}

.border-end-bottom {
    border-bottom: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
}

.user-port-sample {
    background-image: url(../img/portfolio1.jpg);
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 300px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    border-radius: 5px;
}

.show-on-hover {
    height: 70px;
    width: 100%;
    background-color: white;
    opacity: .8;
    padding: 1.5rem;
    display: none;
}

.user-port-sample:hover .show-on-hover {
    display: block;
}

.top-skill .badge {
    background-color: #f0f1fa;
    color: #172B4D;
    padding: .8rem;
    margin-bottom: 5px;
}

.languages .badge {
    background-color: #f0f1fa;
    color: #313d52;
    padding: .5rem;
    margin-bottom: 5px;
}

.ellipse-connect {
    border-right: 2px solid #0052cc;
    height: 50px;
    position: absolute;
    top: 87px;
    left: 31px;
}

.upload-project-file {
    border: 2px dashed #d9d9df;
    border-radius: 10px;
}

.uploaded-image-preview {
    width: 250px;
    /* padding: 5px; */
}

.uploaded-image-only {
    background-color: #F9F9F9;
    /* Used if the image is unavailable */
    height: 200px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #F9F9F9;
    border: 1px solid rgb(223, 223, 223);
}

.uploaded-image-desc {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #F9F9F9;
    border: 1px solid rgb(223, 223, 223);
}

.uploaded-image-only h6 {
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.363);
    position: absolute;
    right: 10px;
    top: 10px;
}

.deliverable-requirements {
    display: flex;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 10px;
}

.requirements-boxes .col-md-1 {
    margin-right: 1rem;
}

