/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'Circular Std Book';
    font-weight: 500;
    font-style: normal;
    /* background-color: #F2F6FC; */
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-light-blue {
    background: rgba(0, 82, 204, 0.03);
}

.btn-primary {
    color: #fff;
    background-color: #0052CC;
    border-color: #0052CC;
}

.bg-dark-blue {
    background: #172B4D;
}

.get-started-bos-start .card {
    width: 400px;
    border: 2px solid #172b4d1f;
    margin-bottom: 20px;
    font-size: 19px;
    opacity: .7;
}

.get-started-bos-start .active {
    font-weight: 600;
    opacity: 1;
}

.primary-color {
    background: #0052CC;
}

.form-check-input:checked {
    background-color: #0052CC;
    border-color: #0052CC;
}

.form-check-input:checked[type=radio] {
    background-image: url(../img/svg/check-solid.svg);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #172b4d1f;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #172b4d;
    outline: 0;
    box-shadow: 0 0 0 0rem #172b4d;
}

.start-left-panel {
    position: relative;
}

.start-left-panel footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.get-started-left-panel {
    position: relative;
    background-image: url(../img/Vector.png);
    height: 100vh;
    background-color: rgba(0, 82, 204, 0.03);
    opacity: 1;
}

.get-started-left-panel footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.table-bg {
    position: absolute;
    background-image: url(../img/table-bg.png);
    height: 226px;
    width: 100%;
    mix-blend-mode: luminosity;
    opacity: 0.5;
    bottom: 72px;
}

.full-height {
    min-height: 100vh;
}

.vertical-line-logo {
    border: .5px solid #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 140px;
    opacity: .3;
}

.project-date-pick .input-group-text {
    border: 2px solid #172b4d1f;
}

.fa-info-circle {
    opacity: .3;
}

.vertical-line-plus {
    border: .5px solid #fff;
    height: 100%;
    position: absolute;
    top: 0;
    right: 300px;
    opacity: .3;
}

.user-dropdown .dropdown-menu {
    left: -176px;
    margin-top: 10px !important;
}

.user-dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    min-width: 15rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: .55rem 1rem;
    clear: both;
    font-weight: 400;
    color: #313030;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.user-dropdown .fas {
    color: #8a8a8a;
    font-size: 12px;
}

.user-dropdown .dropdown-item:focus,
.dropdown-item:hover {
    color: #1e2125;
    background-color: #e9ecef;
}

.notification-dropdown .dropdown-menu {
    left: -366px;
    margin-top: 10px !important;
}

.notification-dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    min-width: 25rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.notification-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: .55rem 1rem;
    clear: both;
    font-weight: 400;
    color: #313030;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.notification-dropdown .dropdown-item:focus,
.dropdown-item:hover {
    color: #1e2125;
    background-color: #e9ecef;
}

.notification-wraper {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.create-new-button-plus {
    width: 35px;
    height: 35px;
}

.bg-light-blue {
    background: rgba(0, 82, 204, 0.03);
}

.bg-dark-blue {
    background: #172B4D;
}

.welcome-back-text {
    font-size: 48px;
    margin-top: 200px;
    max-width: 230px;
}

.welcome-login-text {
    font-size: 48px;
    max-width: 230px;
}

.few-click-away {
    font-size: 48px;
    margin-top: 200px;
    max-width: 530px;
}

.login-area {
    width: 500px;
}

.social-login img {
    width: 25px;
}

.social-login .btn {
    width: 60px;
    height: 60px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
    border-radius: 50%;
    line-height: 42px;
    margin-right: 20px;
    margin-left: 20px;
}

.social-login .btn:hover {
    background-color: #e4e4e4;
}

.few-click-two {
    font-size: 48px;
    margin-top: 200px;
    max-width: 400px;
}

.check-timeline .form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-top: .1em;
    margin-right: .7rem;
    border: 2px solid rgb(0 82 204);
    opacity: .7;
}

.check-timeline .form-check-label {
    color: #0052CC;
    opacity: .7;
    font-weight: 600;
}

.vertical-connect {
    height: 25px;
    border-left: 2px solid #0052CC;
    width: 0;
    margin-left: .5rem;
    opacity: .7;
}

.check-active {
    opacity: 1 !important;
}

.right-details-panel {
    padding: 30px 70px;
}

.hi-message-card {
    margin-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0;
    border-radius: 1rem;
}

.hi-message-card .card-body {
    border-radius: 1rem;
}

.verify-bg {
    background-image: url(../img/svg/lines.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #F2F6FC;
}

.iti {
    width: 100%;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type=text],
.iti--allow-dropdown input[type=tel],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=text],
.iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.digit-group .form-control {
    display: inline-flex;
    width: 24%;
    padding: 1rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #172b4d1f;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 29px;
    color: #172B4D;
    font-weight: 500;
}

.push-menu {
    display: none;
}

.nav-bars-dots {
    display: none;
}

.contest-image-area {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 750px;
}

.entry-modal .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.entry-modal .modal-header {
    display: block;
}

.entry-modal .modal-body {
    background: #fff;
}

.entry-modal .bg-gray {
    background: #F3F4F6;
    padding: .6rem 1.5rem;
    color: #172B4D;
    font-size: 14px;
}

.feedback-area-start {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 450px;
}

.contest-holder-comment .badge {
    background-color: #F3F4F6 !important;
    padding: .5rem 1.5rem;
    color: #172b4d7a;
    font-size: 14px;
    margin-left: 10px;
}

.freelancer-comment .badge {
    background-color: #F3F4F6 !important;
    padding: .5rem 1.5rem;
    color: #172b4d7a;
    font-size: 14px;
    margin-left: 10px;
}

.holder-comment {
    margin-left: 48px;
    margin-top: 10px;
}

.holder-comment p {
    margin-bottom: 0;
    font-size: 17px;
}

.post-comment-area .posting-form {
    min-height: 80px;
}

.mini-avatar-image {
    max-width: 35px;
    min-width: 35px;
    height: 35px;
}

.mark-tool {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}

.__markerjs2_toolbar {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    box-sizing: content-box;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.__markerjs2_toolbox {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-sizing: content-box;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}

.filepond--root .filepond--credits {
    display: none;
}

.upload-work-file-area {
    width: 100%;
    border: 1px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 25px;
}

.upload-work-file-area1 .hide {
    display: none;
}

.upload-entry-button .btn-primary {
    background: #E6EEFA;
    border: #E6EEFA;
    color: #0052CC;
}

.upload-entry-button .btn-primary:hover {
    background: #0052CC;
    border: #E6EEFA;
    color: #fff;
}

.search-box {
    display: flex;
    background: #08090A;
    border-radius: 4em;
}

.search-box-input {
    width: 0px;
    font-size: 1em;
    color: #fff;
    transition: .5s;
}

.search-box-btn {
    display: flex;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background: white;
    transition: .3s;
}

.search-box-icon {
    margin: auto;
    color: black;
}

.search-box-input::placeholder {
    color: white;
    opacity: .7;
}

.search-box:hover .search-box-input {
    padding-left: 2em;
    padding-right: 1em;
    width: 340px;
}

.search-box-btn:active {
    transform: scale(.75);
}